Tipe Data pada Python - List, Slicing, Tuple, Set, dan Dictionary


List
List adalah jenis kumpulan data terurut (ordered sequence), dan merupakan salah satu variabel yang sering digunakan pada Python. Serupa, namun tak sama dengan array pada bahasa pemrograman lainnya. Bedanya, elemen List pada Python tidak harus memiliki tipe data yang sama. Mendeklarasikan List cukup mudah dengan kurung siku dan elemen yang dipisahkan dengan koma. 

Setiap data di dalamnya dapat diakses dengan indeks yang dimulai dari 0.

In [1]:
a = [1, 2.2, 'python']

Python mengenal slicing operator [] yang dapat melakukan ekstraksi sebuah item atau beberapa item yang berada dalam range tertentu pada tipe data urutan (sequences), misalnya list, string dan tuple. Beberapa tipe urutan juga mendukung "extended slicing" dengan parameter ketiga berupa "step".

x[0] artinya mengambil elemen paling awal, dengan index 0 dari List x.

x[5] artinya mengambil elemen dengan index 5 dari List x.

x[-1] artinya mengambil elemen dengan index paling belakang ke-1 dari List x.

x[3:5] artinya membuat list dari anggota elemen List x dengan index 3 hingga sebelum index 5 (tidak termasuk elemen dengan index 5, dalam hal ini hanya index 3-4).

x[:5] artinya membuat list dari anggota elemen List x paling awal hingga sebelum index 5 (tidak termasuk elemen dengan index 5, dalam hal ini hanya index 0-4).

x[-3:] artinya membuat list dari anggota elemen List x mulai index ke-3 dari belakang hingga paling belakang.

x[1:7:2] artinya membuat list dari anggota elemen List x dengan index 1 hingga sebelum index 7, dengan "step" 2 (dalam hal ini hanya index 1, 3, 5).

In [2]:
x = [5,10,15,20,25,30,35,40]
print(x[5])
print(x[-1])
print(x[3:5])
print(x[:5])
print(x[-3:])
print(x[1:7:2])

30
40
[20, 25]
[5, 10, 15, 20, 25]
[30, 35, 40]
[10, 20, 30]

Elemen pada list dapat diubah atau ditambahkan. Misalnya untuk melakukan perubahan kemudian penambahan:

In [3]:
x = [1,2,3]
x[2]=4
print(x)

[1, 2, 4]

In [4]:
x = [1,2,3]
x[2]=4
x.append(5)
print(x)

[1, 2, 4, 5]

Untuk menghapus item pada list, gunakan fungsi del. Ingat bahwa Indeks Python dimulai dari 0:

In [5]:
binatang = ['kucing', 'rusa', 'badak', 'gajah']
del binatang[2]
print(binatang)

['kucing', 'rusa', 'gajah']

Coba tambahkan lagi kode berikut:

In [6]:
del binatang[2]
print(binatang)

['kucing', 'rusa']

Slicing pada String

Karena string mirip dengan list, maka slicing operator [ ]  juga dapat digunakan pada string untuk mengambil isinya atau bahkan substring. Sebuah string utuh bersifat mutable (bisa diubah), namun elemennya bersifat immutable (tidak bisa diubah).

In [7]:
s = "Hello World!"
print(s[4]) 		#ambil karakter kelima dari string s
print(s[6:11]) 		#ambil karakter ketujuh hingga sebelas dari string s
s[5]="d" 		#ubah karakter keenam dari string s menjadi "d", seharusnya gagal karena immutable
s = "Halo Dunia!"	#ubah isi string s menjadi "Halo Dunia!", seharusnya berhasil karena mutable
print(s)

o
World

TypeError: 'str' object does not support item assignment

Tuple

Tuple adalah jenis dari list yang tidak dapat diubah elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [8]:
t = (5,'program', 1+3j)

Seperti list, kita dapat melakukan slicing, namun pada tuple kita tidak dapat melakukan perubahan:

In [10]:
t = (5,'program', 1+3j)
print(t[1])
print(t[0:3])
print(t[0]=10)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (3666945624.py, line 4)

Set

Set adalah kumpulan item bersifat unik dan tanpa urutan (unordered collection). Didefinisikan dengan kurawal dan elemennya dipisahkan dengan koma. Pada Set kita dapat melakukan union dan intersection, sekaligus otomatis melakukan penghapusan data duplikat.

In [11]:
a = {1,2,2,3,3,3}
print(a)

{1, 2, 3}

Karena set bersifat unordered, maka kita tidak bisa mengambil sebagian data / elemen datanya menggunakan proses slicing.

In [12]:
a = {1,2,3}
print(a[1])

TypeError: 'set' object is not subscriptable

Dictionary

Dictionary pada Python adalah kumpulan pasangan kunci-nilai (pair of key-value) yang bersifat tidak berurutan. Dictionary dapat digunakan untuk menyimpan data kecil hingga besar. Untuk mengakses datanya, kita harus mengetahui kuncinya (key). Pada Python, dictionary didefinisikan dengan kurawal dan tambahan definisi berikut:

Setiap elemen pair key-value dipisahkan dengan koma (,).

Key dan Value dipisahkan dengan titik dua (:).

Key dan Value dapat berupa tipe variabel/obyek apapun.

In [13]:
d = {1:'value','key':2}
print(type(d))

<class 'dict'>

In [14]:
d = {1:'value','key':2}
print(type(d))
print("d[1] = ", d[1]);
print("d['key'] = ", d['key']);

<class 'dict'>
d[1] =  value
d['key'] =  2

Dictionary bukan termasuk dalam implementasi urutan (sequences), sehingga tidak bisa dipanggil dengan urutan indeks. Misalnya dalam contoh berikut dicoba dengan indeks 2, tetapi menghasilkan error (KeyError) karena tidak ada kunci (key) 2:

In [15]:
d = {1:'value','key':2}
print(type(d))
print("d[1] = ", d[1]);
print("d['key'] = ", d['key']);
 
# Generates error
print("d[2] = ", d[2]);

<class 'dict'>
d[1] =  value
d['key'] =  2

KeyError: 2

Konversi (conversion, cast) antar tipe data

Kita dapat melakukan konversi tipe data bawaan dengan menggunakan fungsi konversi tipe bawaan (standard type) misalnya: int(), float(), str(), dll.

In [16]:
print(float(5))

5.0

Konversi float ke int akan bersifat floor/truncating atau menghilangkan nilai di belakang koma.

In [17]:
print(int(10.6))

10

In [18]:
print(int(-10.6))

-10

Konversi dari-dan-ke string akan melalui pengujian dan dipastikan validitasnya.

In [19]:
print(float('2.5'))

2.5

In [20]:
print(str(25))

25

In [21]:
print(int('1p'))

ValueError: invalid literal for int() with base 10: '1p'

Anda juga dapat melakukan konversi kumpulan data (set, list, tuple).

In [22]:
print(set([1,2,3]))

{1, 2, 3}

In [23]:
print(tuple({5,6,7}))

(5, 6, 7)

In [24]:
print(list('hello'))

['h', 'e', 'l', 'l', 'o']

Untuk konversi ke dictionary, data harus memenuhi persyaratan key-value. Berikut adalah dua contoh konversi:

List dari beberapa List yang isinya pasangan nilai menjadi Dictionary. 

Serta konversi List dari beberapa Tuple yang isinya pasangan nilai menjadi Dictionary.

In [25]:
print(dict([[1,2],[3,4]]))

{1: 2, 3: 4}

In [26]:
print(dict([(3,26),(4,44)]))

{3: 26, 4: 44}